* {
    -fx-font-family: "NanumBarunGothic", "나눔바른고딕", "NanumGothic", "나눔고딕", sans-serif;
    -fx-font-size: 200%;
}

.button {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #2196F3;
}

.button:hover {
    -fx-background-color: #0D47A1;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: #2196F3;
}
.spinner .increment-arrow-button .increment-arrow, .spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #FFFFFF;
}
.spinner .increment-arrow-button:hover, .spinner .decrement-arrow-button:hover {
    -fx-background-color: #0D47A1;
}